body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    background-color: #fcfcfc;
}

#titlebar {
    padding: 25px;
    background-color: #3b3c3d;
    color: white;
    font-family: 'Playfair Display', serif;
}

#titlebar h1, #titlebar h2, #titlebar h3 {
    margin-bottom: 0;
}

#help-row {
    padding: 40px;
    font-size: 1.4rem;
    background-color: #efefef;
}

#contentarea {
    padding: 25px;
    padding-top: 0;
}

.pagination-row {
    padding: 25px;
    padding-bottom: 0px;
}

.formSpan {
    padding: 0px 5px;
}

.circleBtn {
    border-radius: 50%;
    background-color: #ed7a00;
    color: white;
    padding: 3px 7px;
}

.circleBtn:hover {
    cursor: pointer;
    background-color: #c46500;
    color: white;
}

.formSpan select {
    margin: 0 10px 0 10px;
    height: 30px;
    padding: 4px 8px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 5px;
}

#storesTable tr:nth-child(odd){
  background-color: #f2f5f9;
}

#storesTable td:first-child, th:first-child {
    padding-left: 10px;
}

#storesTable td:nth-child(5) {
    padding-right: 5px;
}
