/*------------------------------------------------------
 Global
------------------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    background-color: #fcfcfc;
}

a:hover {
    color: #1985AD;
}

.hidden {
    display: none;
}

/*------------------------------------------------------
 In order of appearance on the page
------------------------------------------------------*/

header {
    padding: 25px;
    background-color: #3b3c3d;
    color: white;
    font-family: 'Playfair Display', serif;
    /*
    background-image: url('../img/clarks-db-notsolazysundaysdotcom.png');
    background-size: cover;
    */
}

header h1, header h2, header h3 {
    margin-bottom: 0;
}

#menuRow {
    font-size: 1.4rem;
    background-color: #afafaf;
    padding: 5px 30px;
}

#menuRow button {
    border: 0px;
    margin-bottom: 0px;
    padding: 0px;
    margin: 0px 25px;
    text-decoration: underline;
}

#menuRow button:first-child {
    margin-left: 0px;
}

.help-row {
    padding: 40px;
    font-size: 1.4rem;
    background-color: #efefef;
}

#contentarea {
    padding: 25px;
    padding-top: 0;
}

.pagination-row {
    padding: 25px;
    padding-bottom: 0px;
}

.selectArea {
    padding: 0px 5px 5px;
}

.numLink {
    cursor: pointer;
    text-decoration: underline;
}

.circleBtn {
    border-radius: 50%;
    background-color: #ed7a00;
    color: white;
    padding: 3px 7px;
}

.circleBtn:hover {
    cursor: pointer;
    background-color: #c46500;
    color: white;
}

.selectArea select {
    margin: 0 10px;
    height: 30px;
    padding: 4px 8px;
}

.selectArea select:nth-child(2) {
    margin-left: 0px;
}

nav {
    margin-top: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    padding: 5px;
}

#storesTable tr:nth-child(odd){
  background-color: #f2f5f9;
}

#storesTable td:first-child, th:first-child {
    padding-left: 10px;
}

#storesTable td:nth-child(5) {
    padding-right: 5px;
}

footer {
    color: white;
    background-color: darkgray;
    font-size: 1.15rem;
    padding: 20px;
}

footer a {
    color: ghostwhite;
}

footer a:hover {
    color: slategray;
}
